* {
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
	padding: 2em;
	font-size: 3em;
	font-family: 'Bungee', cursive;
	background-color: #F5B871;
}
h2 {
	font-size: 2em;
}


#recommendations{
	display: flex;
}

#recsList{
	display: grid;
	grid-template-columns: 25vw 25vw 25vw;
	grid-template-rows: 43vw 43vw 43vw;
	grid-gap: 30px;
	width: 100vw;
	margin: 0 3%;
	text-align: center;
}

#recsList h2{
	color: black;
	background-color: #3cd474;
	height: 1.5em;
	opacity: 0.8;
	border-radius: 8px;
}


ul {
	list-style: none;
}

li{
	border: 2px solid #F5B871;
	border-radius: 10px;
	margin: 10px;
}

li img {
	width: 100%;
}

p{
	/* display: flex;
	flex-wrap: wrap; */
	padding: .3em;
	font-size: 20px;
	font-family: 'PT Sans', sans-serif;
	/* align-content: center; */
}


#myButton{
	margin: 0 auto;
	display: block;
	text-align: center;
	border: none;
	width: 10em;
	height: 10em;
	border-radius: 50%;
	font-family: 'Text Me One', sans-serif;
	font-size: 1em;
	margin-top: 30px;
}

#myButton:hover{
	background-color: #3cd474;
	cursor: pointer;
}

h2{
	text-align: center;
	padding: 2em;
	font-family: 'Bungee', cursive;
}

.fas{
	font-size: 3em;
	margin-left: 20px;
	margin-top: 200px;
}

.fa-arrow-circle-right{
	margin-right: 20px;
}